<!DOCTYPE html>
<html>
<title>Stripe Payment Demo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    .button {
        background-color: #1d1c1c;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .wrapper {
        text-align: center;
        margin: 2% 0%;
    }
</style>

<body>
    <div class="container">

        <h2 style="text-align: center;">Welcome to Stripe Payment Gateway</h2>

        <form action="payment" method="POST">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= key %>"
                data-amount="1500" data-currency="inr" data-name="Sagar Javiya" data-description="Test"
                data-locale="auto">
                </script>
            <script>
                // Hide default stripe button
                document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
            </script>
            <div class="wrapper">
                <button type="submit" class="button">Pay With Stripe</button>
            </div>
        </form>
    </div>

</body>

</html>